@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Book.ttf');
  font-weight: 400;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}
body{
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra' , sans-serif !important;
}
h1, h2, h3, h4, h5, h6{
  margin:0;
  padding:0;
  line-height: normal;
}
p, a, li, ul{
  margin:0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
img{
  width:100%;
  height:auto;
}

.connect , .start-tag{
  border:0;
  background-color: transparent;
  margin:0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

.title{
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
.title>h2{
  font-size:7rem;
  text-transform: capitalize;
  font-weight: 900;
  filter: brightness(13%);
  text-shadow: 0 1px #808d93,
       	              -1px 0 #cdd2d5,
       	              -1px 2px #808d93,
       	              -2px 1px #cdd2d5,
       	              -2px 3px #808d93,
       	              -3px 2px #cdd2d5,
       	              -3px 4px #808d93,
       	              -4px 3px #cdd2d5,
       	              -4px 5px #808d93,
       	              -5px 4px #cdd2d5,
       	              -5px 6px #808d93,
       	              -6px 5px #cdd2d5,
       	              -6px 7px #808d93,
       	              -7px 6px #cdd2d5,
       	              -7px 8px #808d93,
       	              -8px 7px #cdd2d5;
}
.title div{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50% , -50%);
  
}
.title div h2{
  text-transform: capitalize;
  font-size: 2.6rem;
  font-weight: 800;
}
button{
  border:0;
  background-color: transparent;
}
input:focus, textarea:focus, select:focus{
  outline:none;
}
p.success{
  color:green;
}
p.danger{
  color:red;
}
/*** Navbar css ***/
nav.navbar{
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top:0;
  z-index: 9999;
  transition: 0.32 ease-in-out;
}

nav.navbar.scrolled{
  padding:0px 0;
  background-color: #121212;
}
nav.navbar span a.nav-link{
  width:40%;
}

nav.navbar .navbar-nav a.nav-link{
  font-weight:400;
  color:#fff !important;
  letter-spacing: 0.8px;
  padding:0 25px;
  font-size: 20px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link:hover,
nav.navbar .navbar-nav a.nav-link.active{
  opacity:1;
}
span.navbar-text{
  display:flex;
  align-items: center;
}
.social-icon {
  display: inline-block;
}
.social-icon a{
  width:42px;
  height:42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 7px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255,255,255,0.5);
}
.social-icon a::before{
  content:"";
  width:42px;
  height:42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.social-icon a:hover::before{
  transform: scale(1);
}
.social-icon a img{
  width:40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.social-icon a:hover img{
  filter: brightness(0) saturate(100%) invert(0) sepia(7%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.navbar-text .connect{
  font-weight:700;
  color:#fff;
  border:1px solid #fff;
  padding: 18px 34px;
  font-size: 20px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
}
.navbar-text .connect span{
  z-index: 1;
}
.navbar-text .connect::before{
  content:"";
  width: 0%;
  height:100%;
  position: absolute;
  background-color: #fff;
  z-index: -1;
  left:0;
  top:0;
  transition: 0.3s ease-in-out;
}
.navbar-text .connect:hover{
  color:#121212;
}
.navbar-text .connect:hover::before{
  content: "";
  width:100%;
  height:100%;
  position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline:none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon{
  width:24px;
  height:18px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus{
  border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:before,
nav.navbar .navbar-toggler-icon:after {
  width:24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top:0;
  left:0;
  content: "";
  z-index: 1; /*changed*/
  transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after{
  top:8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after{
  transform: rotate(45deg);
  background-color: #fff;
  height:2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before{
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height:2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon{
  border-color: transparent;
}
/*banner css*/
.banner{
  margin-top:0;
  padding:260px 0 100px 0;
  background-image: url('./assets/img/banner-bg.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .start-tag{
  font-weight:700;
  letter-spacing: 0.8px;
  padding:8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74,47,189,0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1{
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.3;
  margin-bottom: 20px;
  display: block;
}
.banner p{
  color: #b8b8b8;
  font-size: 20px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width:90%;
}
.banner .again-connect{
  color:#fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner .again-connect svg{
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner .again-connect:hover svg{
  margin-left: 25px;
}
.banner img{
  animation: updown 3s linear infinite;
}
@keyframes updown {
  0%{
    transform: translateY(-20px);
  }
  50%{
    transform: translateY(20px);
  }
  100%{
    transform: translateY(-20px);
  }
}
h1 > .wrap{
  border-right: 0.09em solid #666;
}
/*** skills css ***/
.skill{
  background: #151515;
  border-radius: 65px;
  padding: 60px 50px;
  margin-top: -60px;
  display: flex;
  flex-direction: column;
}

.skill p{
  color: #b8b8b8;
  font-size: 16px;
  letter-spacing: 0.9px;
  line-height: 1.5em;
  margin: 15px 0 70px 0;
}

.skills-bar .skills{
  margin:25px 0;
}
.skills-bar .skills:first-child{
  margin-top: 0px;
}
.skills-bar .skills .info{
  margin:15px 0;
  font-size: 18px;
  font-weight: 500;
  opacity:0;
  animation:showName 0.5s 0.3s  linear forwards;
}
@keyframes showName {
    100%{
      opacity: 1;
    }
}

.skills-bar .skills .progress-bar{
  position: relative;
  background: #f0f0f0;
  display:block;
  height:10px;
  width:100%;
  border:1px solid rgba(0,0,0,0,0.3);
  border-radius: 12px;
  box-shadow: 0 0 10px #2187e7b3;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.8s 0.5s cubic-bezier(1, 0, 0.5, 1) forwards;
  overflow: visible;
}
.skills-bar .skills .progress-bar span{
  height:100%;
  background: #6665ee;
  position: absolute;
  border-radius: 10px;
  left:0;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.8s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
} 
.skills-bar .skills .progress-bar.js span{
  width:85%;
}
.skills-bar .skills .progress-bar.python span{
  width:90%;
}
.skills-bar .skills .progress-bar.c span{
  width:80%;
}
.skills-bar .skills .progress-bar.react span{
  width:75%;
}
.skills-bar .skills .progress-bar.ts span{
  width:60%;
}
.skills-bar .skills .progress-bar.sql span{
  width:80%;
}
.skills-bar .skills .progress-bar.nlp span{
  width:70%;
}
.skills-bar .skills .progress-bar span::before{
  position: absolute;
  content:"";
  top:-14px;
  right:0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0;
  border-right-width: 0;
  border-top-color: #fff;
  opacity:0;
  animation:showPoint 0.5s 1.4s linear forwards;
}
.skills-bar .skills .progress-bar span::after{
  position: absolute;
  top:-35px;
  right:0;
  background: #fff;
  color: #000;
  padding: 3px 8px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 4px;
  opacity:0;
  animation:showPoint 0.5s 1.4s linear forwards;
}
@keyframes showPoint {
    100%{
      opacity: 1;
    }
}
.skills-bar .skills .progress-bar.js span::after{
  content:'85%';
}
.skills-bar .skills .progress-bar.python span::after{
  content:'90%';
}
.skills-bar .skills .progress-bar.c span::after{
  content:'80%';
}
.skills-bar .skills .progress-bar.react span::after{
  content:'75%';
}
.skills-bar .skills .progress-bar.ts span::after{
  content:'60%';
}
.skills-bar .skills .progress-bar.sql span::after{
  content:'80%';
}
.skills-bar .skills .progress-bar.nlp span::after{
  content:'70%';
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}

/*** project css ***/
.project{
  padding:80px 0;
  position: relative;
  background-color: #000;
}
.project p{
  color: #b8b8b8;
  font-size: 16px;
  letter-spacing: 0.9px;
  line-height: 1.5em;
  margin: 16px auto 32px auto;
  text-align: center;
  width: 60%;
}
.project .nav.nav-pills{
  width:75%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1)  /*rgb(255 255 255 / 10%);*/;
  overflow: hidden;
}
.project .nav.nav-pills .nav-item{
  width:33.333%;
}
.project .nav.nav-pills .nav-link{
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color:#fff;
  width:100%;
  font-size: 17px;
  letter-spacing: 0.9px;
  font-weight: 600;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before{
  content:"";
  position: absolute;
  width:0px;
  height:100%;
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  top:0;
  left:0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.project .nav.nav-pills .nav-link.active::before{
  width:100%;
}
.project .nav.nav-pills .nav-link.active{
  border: 1px solid rgba(255, 255, 255, 1);
}

.proj-img{
  position: relative;
  border-radius: 30px;
  margin-bottom: 24px;
  overflow: hidden;
}
.proj-img::before{
  position: absolute;
  content: "";
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  opacity: 0.8;
  width: 100%;
  height:0;
  transition: 0.4s ease-in-out;
  
}
.proj-img:hover::before{
  height:100%;
}
.proj-txt{
  position: absolute;
  text-align: center;
  top:75%;
  left:50%;
  transform: translate(-50%,-50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-img:hover .proj-txt{
  top:50%;
  opacity: 1;
}
.proj-txt h4{
  font-size:30px;
  font-weight:700;
  letter-spacing: 0.9px;
  line-height: 1.1em;
}
.proj-txt span{
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.7px;
}
.background-img{
  top:-15%;
  position: absolute;
  bottom:0;
  width:15%;
  height: 100%;
  right:0;
  z-index:1;
  opacity: 0.35;
}
/*** contact css ***/
.contact{
  background: linear-gradient(9090.21deg #aa367c -5.91%, #4a2fbd 111111.58%);
  padding:60px 0 200px 0;
}
.contact img{
  width:90%;
}
.contact .intro{
  font-size:45px;
  font-weight: 700px;
  margin-bottom: 30px;
}
.contact form input, .contact form textarea{
  width:100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 17px;
  color:#fff;
  margin:0 0 12px 0;
  padding: 17px 25px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.9px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus , .contact form textarea:focus{
  background: rgba(255, 255, 255, 1);
  color:#121212;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder{
  color:#121212;
  opacity:0.75;
}
.contact form button{
  font-weight: 600;
  color:#000;
  background-color: #fff;
  padding:15px 50px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span{
  z-index:0;
  position: relative;
}
.contact form button:hover{
  color:#fff;
}
.contact form button::before{
  content:"";
  background: #121212;
  width:0%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  z-index: 0;
  transition: 0.3s ease-in-out;
  border:1px solid #fff;
}
.contact form button:hover::before{
  width:100%;
  box-shadow:  0 0 5px #fff,
  0 0 10px #fff,
  0 0 20px #0ff;
}
/*** footer css ***/
.footer{
  padding: 50px 0 50px 0;
  background-image: url('./assets/img/footer-bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer img{
  width:30%;
}
.footer p{
  font-weight: 400;
  font-size: 15px;
  color:#b8b8b8;
  letter-spacing: 0.5px;
  margin-top: 25px;
}
/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/